<div class="about-company-container">
    <div class="company-image-container">
    </div>
    <div class="company-text-container">
        <h2 class="about-title" mat-dialog-title>Про нас</h2>
        <p  mat-dialog-title class="about-text">
            Аніта ™ - меблевий магазин який створений для комфорту. А точніше, для того, щоб наші клієнти відчували естетичне і дотикове насолоди не тільки від якісних меблів, але також і комфорт від процесу її вибору, замовлення і покупки.
            Справа в тому, що меблевий ринок України формувався в умовах, коли багато товарів були в дефіциті і споживач готовий був платити навіть за неякісний і несмачний товар. Про маркетинг і сервіс говорити взагалі не доводилося ... З початку 2000-х років ситуація почала змінюватися в кращий бік - на ринку з'явилися фабрики оновили не тільки технологічні лінії, а й модельний ряд. З'явилися закордонні бренди меблів. Розширився асортимент, і підвищилася якість. Але сервіс і зручність вибору залишалися на другому плані.
            Допомогти клієнту знайти, вибрати, замовити і доставити саме ті меблі, яка зробить його щасливим і буде радувати кожен день - ось наша головна задача.
            Для цього ми використовуємо всі переваги сучасних технологій, зручність формату інтернет торгівлі, зручного вибору і індивідуального сервісу.
            Ми відібрали для Вас кращу м'які та корпусні меблі.
        </p>
    </div>
</div>
<div class="about-company-container not-margin">
    <div class="company-text-container">
        <h2 class="about-title" mat-dialog-title>Наша стратегія</h2>
        <p  mat-dialog-title class="about-text">
            Завоювати і утримувати довіру кожного клієнта шляхом надання якісного та оперативного
            обслуговування при продажу широкого асортименту меблів і товарів для дому; досягти лідируючих
            позицій завдяки постійному розвитку, а також професіоналізму, дружелюбності і спільній роботі
            співробітників. Тільки якісні меблі представлена в інтернет-магазині "Аніта". При виборі нового
            виробника меблів ми обов'язково оцінюємо меблі і приступаємо до співпраці, якщо нас влаштовує
            співвідношення ціна-якість. Ми дорожимо своєю репутацією і піклуємося про кожного покупця. Нам
            важливо, щоб Ви були задоволені покупкою і рекомендували нас своїм друзям і знайомим. Ми прагнемо
            вражати клієнтів висококласним якістю і найкращим сервісом.
        </p>
    </div>
    <div class="company-strategy-image-container">
    </div>
</div>
<div class="contacts-company-container not-margin">
    <div class="map-image-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d339.23976553747156!2d30.63010303347851!3d50.40069740909992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c5a6f51937c5%3A0x6391f23304a1085!2z0J_QvtC30L3Rj9C60LgsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1542556682537" width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="company-text-container">
        <h2 class="about-title" mat-dialog-title>Контакти</h2>
        <p  mat-dialog-title class="about-text">
            Адресса: вулиця Срібнокільська 3, м. Київ
        </p>
        <p  mat-dialog-title class="about-text">
            email: <a href="#">anita.m@.ua</a>
        </p>
        <p  mat-dialog-title class="about-text">
            Телефони: 0633872595, 0972773744
        </p>
        <p  mat-dialog-title class="about-text">
            Графік роботи: пн-пт з 09:00-18:00, сб-нд з 10:00-17:00
        </p>
    </div>
</div>